
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&amp;display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&amp;display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&amp;display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&amp;display=swap');

    body, html {
  height: 100%;
  margin: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.bg {
  
  background-image: url("bg.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.a{
    background-color: rgb(42, 41, 41);
    height: 400px;
}
.bb{
  display: inline-block;
    padding: 8px;
  background-image: url('bb.jpg');
    margin: auto;
    border-radius: 50%;
   
}
h4{
  padding-top: 5px;
}
p{
  font-family: 'Source Code Pro', monospace;
  line-height: 5px;
}
i{
  padding-right: 7px;
}
i:hover{
  color:#0f0f0f;
  transition: 0.5s
}
p:hover, h1:hover, h4:hover, a:hover{
  color: red;
  transition: 0.5s;
}
img:hover{
  border: 3px solid yellow;
  transition: 0.3s;
}
a:link{
  text-decoration: none;
  
}
a{
  color: white;
}
h5{
  background-color: black;
  margin-top: 50px;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;

}
